<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <section>
        <p>date: {{order.order_date}}</p>
        <p>customer: {{order.customer_name}}</p>
        {% for key in order.items %}
            <p>item code: {{key.code}}</p>
            <p>item description: {{key.description}}</p>
            <p>quantity: {{order.items[key]}}</p>
        {% endfor %}
        <hr>
    </section>
</body>
</html>